.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: $container-color;

    .brand-logo {
        vertical-align: top;
        height: 40px;
    }

    .navigation {
        display: flex;
        list-style: none;

        .nav-item {
            margin: 0 1.5em;
        }

        .nav-link {
            color: $secondary-color;
            text-decoration: none;

            &:hover {
                color: #000;
            }
        }
    }
}